html {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(187,132,209,1) 40%, rgba(44,203,235,1) 97%);
}

h1 {
    color: aquamarine;
    text-align: center;
    font-size: 40px ;
}


body {
    margin: 20px;
}

.two {
    text-align: center;
}

#Text {
    color: aquamarine;
    font-size: 20px;
}
 #Border {
    border: 4px solid black; 
    padding: 8px 8px;
    font-size: 15px;
   
}
img {
    margin-left: auto;
    display: block;
}
#text_2 {
    color: #824899;
}