html {
    background-image: url(../download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
ul li:nth-child(odd) {
    background: red;
    text-align: center;
}

ul li:nth-child(even) {
    background: lightgreen;
}


ol li:nth-child(odd) {
    background: rgb(194, 36, 168);

}

ol li:nth-child(even) {
    background: rgb(167, 199, 93);
}

body {
    margin: 20px;
}
 .one {
    margin: 20px 30px 40px 20px;
    border: 10px solid coral; 
    padding: 2%;
    border-radius: 20px;
    color: aqua;
    background-color: black;
}
